html {
  --color-accent: oklch(70% 0.19 190);
  accent-color: var(--color-accent);
  color-scheme: light dark;
}

body {
  /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 20px;
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  display: flex;
  margin-bottom: 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a:hover {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

input {
  font: inherit;
}

textarea {
  font: inherit;
}

label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

button {
  font: inherit;
  display: grid;
  grid-column: 1 / -1;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

article {
  grid-template-rows: subgrid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: 400%;
}

dl {
  display: grid;
  gap: 0.5rem;
}

dt {
  grid-row: 1;
  font-weight: bold;
  font-weight: 500;           /* Slightly lighter than bold */
  text-transform: uppercase;  /* Optional: makes it feel like a label */
  letter-spacing: 0.5px; 
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
}

dd {
  grid-row: 2;
  margin: 0;
}

.current {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
  font-weight: bold;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-row: span 3;
  gap: 1em;
}

.resume-header {
  text-align: center;
}

.resume-name {
  font-size: 2.5rem;
  margin-bottom: 0.25rem;
}

.resume-main {
  line-height: 1.6;
}

.resume-contact {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.resume-section {
  margin-bottom: 0.75rem;
}

.resume-section-title {
  font-size: 1.5rem;
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.25rem;
  margin-bottom: 0rem;
}

.resume-entry {
  margin-bottom: 0rem;
}

.resume-entry-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resume-entry-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.75rem;
  margin-bottom: 0.1rem;
}

.resume-entry-info,
.resume-entry-dates {
  font-style: italic;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.resume-bullets {
  padding-left: 1.25rem;
  margin: 0px;
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 80%;
  font-family: inherit;
}

.color-scheme select {
  font-size: 80%;
  font-family: inherit;
}
